<div class="container">
    <h4 id="parent-header">ParentComponent : PostComponent  </h4>
    <p>{{childMessagefromViewChild}}</p>

    <p>{{childMessagefromEventEmitter}}</p>
</div>
<div class="container">
    <h4 id="child-header">ChildComponent :  PostListComponent</h4>
    <app-post-list [childData]="parentData" (messageEmetter)="receiveMessage($event)"></app-post-list>
    <br>
    <img id="imgContainer" [src]="imgUrlForPropretyBidingTest" alt="Amaterasu">
    <br>
    <br><br><br>
    <br><br><br>

    <h4 [class.text-red]="testingClassBidingAttribute" style="float: right;"> !! AMATERASU !!</h4>
    <h4 [style.color]="testingClassBidingAttribute? 'red' : '' " style="float: right;"> !! Style biding !!</h4>

</div>